/wininetd.conf

*.obj
*.ilk
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.ncb
*.idb
*.pch
*.exp
BuildLog.htm
mt.dep
*intermediate.manifest
*embed.manifest*
*.aps
*.suo

*.pdb

*.exe
*.dll

*.lib
*.res
*.tlb

*.user
